@using Microsoft.AspNet.Identity
@using BanckOfClothesServer.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
       
        <li><a  style = "color:rgba(0,0,0,.5)" href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>

    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink"  , style = "color:rgba(0,0,0,.5)"})</li>
    </ul>
}
